.intro {
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
}

.intro__cover {
  height: 100%;
  width: 1280px;
  height: 347px;
  display: block;
  background-image: url("../images/intro__cover.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.intro__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 39px;
  text-align: right;
  margin: 0 22px 0 0;
  color: #ce0000;
}
@media screen and (max-width: 1279px) and (min-width: 768px) {
  .intro {
    width: 768px;
  }

  .intro__cover {
    width: 100%;
    background-image: url("../images/intro__cover768.png");
    height: 347px;
    margin-bottom: 12px;
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .intro {
    width: 320px;
  }

  .intro__cover {
    width: 100%;
    background-image: url("../images/intro__cover320.png");
    margin-bottom: 12px;
  }
  .intro__title {
    font-family: Inter;
    font-size: 20px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: right;
    width: 308px;
    height: 79px;
  }
}
